html {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gameboard {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    border: 2px white solid;
}

.field {
    border: 2px black solid;
    text-align: center;
    font-size: 8rem;
}